body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

* {
  font-family: "PingFangSC-Regular";
}

html, #root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header */
.header {
  width: 100%;
  height: 30%;
  background: url("./assets/img_bgshare@2x.png") no-repeat;
  background-size: 100% auto;
  color: white;
  position: relative;
}

.header .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25rem 1.25rem 0 1.25rem;
}

.header .top .return {
  width: 2rem;
  height: 2rem;
  background: url("./assets/back@2x.png") no-repeat;
  background-size: 100% auto;
}

.header .top .rules {
  width: 2.5rem;
  height: 1.5rem;
}

.header .bottom .title {
  font-family: "PingFangSC-Semibold";
  font-size: 0.056rem;
  margin-top: 1rem;
  padding: 0.25rem 0 0.2rem 1rem;
}

.header .bottom .subtitle {
  color: rgb(221, 221, 221);
  font-size: 0.024rem;
  padding: 0.5rem 0 0 1rem;
} 

.header .right {
  position: absolute;
  right: 0;
  top: 20%;
  width: 37.5%;
  height: 60%;
  background: url("./assets/img_star_sell@2x.png") no-repeat;
  background-size: 100%;
}

/* content */
.content {
  position: relative;
  background-color: white;
  border-radius: 1rem;
  top: -10%;
  width: 94%;
  height: 70%;
  margin: 0 auto;
}

.content .content_top {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  padding: 0.7rem 0.5rem 0 0.5rem;
}

.content .content_top img {
  height: 80%;
  margin: 0.5rem;
}

.content .content_top .orderItem p {
  font-size: 0.8rem;
  width: 90%;
  margin-top: 7px;
  color: #333333;
}

.content .content_top .orderItem .nickName {
  font-size: 0.024rem;
}

.content .content_top .orderItem .description {
  font-size: 0.02rem;
}

.content .content_top .orderItem p:last-of-type {
  font-weight: bolder;
  color: #333333;
  font-size: 1rem;
}

.content .content_bottom {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.influentialSharingInfos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.influentialSharingInfos .time{
  width: 15%;
  margin: auto 0;
}

.influentialSharingInfos .time p {
  margin: 0;
  color: #999999;
}

.influentialSharingInfos .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.influentialSharingInfos .infos p {
  margin: 0;
  color: #333333;
  font-size: 0.02rem;
}

.influentialSharingInfos img {
  width: 3.5rem;
  height: 3.5rem;
  margin: auto 1rem;
  border-radius: 50%;
}

.influentialSharingInfos .reward{
  /* position: relative;
  right: 0.2rem; */
  margin: auto 0;
  margin-left: auto;
}